<div class='mapped-card' id='{{ handelise question }}'>
    <div class='mapped-card__title'>
        <h1 class='mapped-card__title-question'>{{ question }}</h1>
    </div>

    <div class='mapped-card__content'>
        <div class='mapped-card__body'>
            <div class='mapped-card__copy'>
                {{ copy}}
            </div>

            <!-- chart goes here -->
        </div>

        <div class='mapped-card__questions'>
            QUESTIONS GO HERE
        </div>
    </div>
</div>