<div class='gs-container'>
    {{#each this}}
        <div class='mapped-event__event' id='{{ handelise title }}'>
            <h2 class='mapped-event__number'>{{ numberise @index }}</h2>
            <h2 class='mapped-event__title'>{{ title }}</h2>

            {{{ marked intro }}}

            {{#if_eq type 'connections'}}
                <svg class='mapped-event__chart mapped-event__chart--connections' data-chart='{{ title }}' viewBox='0 0 920 500' preserveAspectRatio='xMinYMin meet'></svg>
            {{/if_eq}}

            {{#if_eq type 'bios'}}
                <div class='mapped-event__chart mapped-event__chart--bios' data-chart='{{ title }}'></div>
            {{/if_eq}}

            <img class='mapped-event__divider' src='{{ assetPath }}/assets/images/divider.svg' />
        </div>
    {{/each}}
</div>