<div class='gs-container'>
    {{#each this}}
        <div class='mapped-event__event'>
            <h2 class='mapped-event__date'>{{ date }}</h2>
            <h2 class='mapped-event__title'>{{ title }}</h2>

            {{{ marked intro }}}

            <svg class='mapped-event__chart' data-chart='{{ title }}' viewBox='0 0 920 500' preserveAspectRatio='xMinYMin meet'>

            </svg>

            <img class='mapped-event__divider' src='{{ assetPath }}/assets/images/divider.svg' />
        </div>
    {{/each}}
</div>