<div class='mapped-timeline__event {{#if image}}mapped-timeline__event--has-image{{/if}}'>
    <div class='mapped-timeline__image-wrapper'>
        {{#if image}}
            <img class='mapped-timeline__image' src='@@assetPath@@/assets/images/timelines/{{ image }}.jpg' />
        {{/if}}
    </div>

    <h2 class='mapped-timeline__title'>{{ event }} <span class='mapped-timeline__date'>{{ date }}</h2>
    <div class='mapped-timeline__copy'>
        {{{ marked copy }}}
    </div>
    {{#if relatedQuestion}}
        <div class='mapped-timeline__related'>
            Related: <a class='mapped-timeline__link' href='#{{ handelise relatedQuestion }}'>{{ relatedQuestion }}</a>
        </div>
    {{/if}}
</div>