<div class='mapped-timeline__event {{#if image}}has-image{{/if}}'>
    {{#if image}}
    <div class='mapped-timeline__image-wrapper'>
        <img class='mapped-timeline__image' src='@@assetPath@@/assets/images/timelines/{{ image }}.jpg' />
    </div>
    {{ else }}
        <div class='mapped-timeline__event-point'></div>
    {{/if}}


    <h2 class='mapped-timeline__title'>{{ event }} <span class='mapped-timeline__date'>{{ date }}</h2>
    <div class='mapped-timeline__copy'>
        {{{ marked copy }}}
    </div>
    {{#if relatedQuestion}}
        <div class='mapped-timeline__related'>
            Related: <a class='mapped-timeline__link' href='#{{ handelise relatedQuestion }}'>{{ relatedQuestion }}</a>
        </div>
    {{/if}}
</div>