@import "../../node_modules/sass-mq/mq";

// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

// colours
$c-red: #ff5b3a;

$c-blue: #1e3f74;
$c-light-blue: #aad8f1;

// non-colours
$c-white: #ffffff;
$c-off-white: #f6f6f6;
$c-grey: #dfdfdf;
$c-black: #333333;

$c-dark-grey: #999;

// social
$c-twitter: #4bc6df;
$c-facebook: #3067a3;

// other
$c-ad-grey: #f6f6f6;

@import "partials/fonts";
@import "partials/page";
@import "partials/share";
@import "partials/body";

@import "partials/base";
@import "partials/header";
@import "partials/question";
@import "partials/card";

@import "partials/connections";
@import "partials/bio";
@import "partials/timeline";