<div class="mapped" data-asset-path="@@assetPath@@">
    <div class="l-side-margins">
            {{> templates/partials/header }}
    </div>

    <div class='mapped-timeline'>
        <div class='l-side-margins'>
            <div class='gs-container'>
                <div class='mapped-timeline__inner'>
                    <div class='mapped-timeline__entry'>Sections</div>
                </div>
            </div>
        </div>
    </div>

    <div class='l-side-margins'>
        <div class='mapped-sections'>
            <div class='gs-container'>
            </div>
        </div>
    </div>
</div>

<script async src='@@assetPath@@/app.js'></script>