<div class='mapped-header'>
    <div class='mapped-illustration'>
        <img class='mapped-illustration__image mapped-illustration__image--1' src='@@assetPath@@/assets/images/header-image--1.png' />
        <img class='mapped-illustration__image mapped-illustration__image--2' src='@@assetPath@@/assets/images/header-image--2.png' />
        <img class='mapped-illustration__image mapped-illustration__image--3' src='@@assetPath@@/assets/images/header-image--3.png' />
        <img class='mapped-illustration__image mapped-illustration__image--4' src='@@assetPath@@/assets/images/header-image--4.png' />
        <img class='mapped-illustration__image mapped-illustration__image--5' src='@@assetPath@@/assets/images/header-image--5.png' />
        {{> templates/partials/lines }}
    </div>
    <div class='gs-container'>
        <div class='mapped-header__content'>
            <h1 class='mapped-header__title'>Trump-Russia investigation<span>The key questions answered</span></h1>
            <h2 class='mapped-header__standfirst'>Everything you need to know about the inquiry into Russian hacking, alleged collusion and Donald Trump, plus the latest news</h2>

            <div class='mapped-header__bar'>
                {{> templates/helpers/share }}
                <div class='mapped-header__meta'>
                    By <a href='https://www.theguardian.com/profile/tommccarthy'>Tom McCarthy</a> and <a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a>
                    <span class='mapped-header__last-updated'></span>
                </div>
            </div>

            <img class='mapped-header__divider' src='@@assetPath@@/assets/images/divider.svg' />

            <div class='mapped-header__intro mapped-body'>
            </div>
        </div>

        <div class='mapped-header__content mapped-header__content--second'>
            <img class='mapped-header__divider' src='@@assetPath@@/assets/images/divider.svg' />

            <div class='mapped-header__questions mapped-header__questions--starter'>
                <h1 class='mapped-header__question-title'>The key questions</h1>
            </div>

            <img class='mapped-header__divider' src='@@assetPath@@/assets/images/divider.svg' />

            <div class='mapped-header__questions mapped-header__questions--analysis'>
                <h1 class='mapped-header__question-title'>The analysis</h1>
            </div>

            <img class='mapped-header__divider' src='@@assetPath@@/assets/images/divider.svg' />

            <div class='mapped-header__questions mapped-header__questions--latest'>
                <h1 class='mapped-header__question-title'>The latest developments</h1>
            </div>

            <img class='mapped-header__divider' src='@@assetPath@@/assets/images/divider.svg' />

            <div class='mapped-header__index is-collapsed'>
                <div class='mapped-header__expand'>
                    <h1 class='mapped-header__question-title'>The rest of the questions <div class='mapped-header__expand-button'></div></h1>
                </div>
            </div>

            <div class='mapped-header__caption'>Image sources: Getty/AP/Reuters/CQ Roll Call Inc. Additional images courtesy of Simon & Schuster Canada and Politico. Design and development by Sam Morris</div>
        </div>

        {{> templates/partials/ad id=2 }}

    </div>
</div>