.mapped {
    min-height: 100vh;
    background-color: $c-off-white;

    .l-side-margins:first-of-type {
        height: 100vh;
    }

    &.has-loaded {
        min-height: none;
        background-color: $c-white;

        .l-side-margins:first-of-type {
            height: auto;
        }
    }
}
