.mapped-bios {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include mq(tablet) {
        width: 620px;
    }
}

.mapped-bio {
    margin-bottom: 24px;

    @include mq(mobileLandscape) {
        max-width: calc(50% - 20px);
        margin-right: 20px;
    }
}

.mapped-bio__image-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
    height: 128px;
    background-color: $c-red;
    margin-bottom: 6px;
}

.mapped-bio__image {
    width: 100%;
    height: auto;
}

.mapped-bio__name {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 1.3;
    color: $c-red;
    margin-top: 4px;

    @include mq(tablet) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.mapped-bio__description {
    display: block;
    color: $c-black;
}

.mapped-bio__copy p {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.4;
    color: $c-black;
    margin: 4px 0 12px;
}

.mapped-bio__related {
    font-family: 'Guardian Egyptian Web';
    color: $c-black;
    font-weight: bold;
    margin-bottom: 24px;
}
