.mapped-card {
    position: fixed;
    margin: auto;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1400;
    transition: transform 0.3s ease-in;
    transition-delay: 0.1s;

    @include mq(wide) {
        width: 1000px;
    }

    &.is-visible {
        transform: translateY(-90vh);
        z-index: 1402;
    }

    &.is-visible-1 {
        transform: translateY(-92vh) scale(.95);
        z-index: 1401;

        &:hover {
            transform: translateY(-93vh) scale(.95);
        }

        .mapped-card__title {
            background-color: darken($c-red, 5%);
        }
    }

    &.is-visible-2 {
        transform: translateY(-94vh) scale(.9);

        &:hover {
            transform: translateY(-95vh) scale(.9);
        }

        .mapped-card__title {
            background-color: darken($c-red, 10%);
        }
    }

    &.is-visible-1,
    &.is-visible-2 {
        .mapped-card__title-link {
            pointer-events: auto;
        }

        .mapped-card__content {
            display: none;
        }

        .mapped-card__title-question {
            opacity: .2;
        }

        &:hover {
            .mapped-card__title-question {
                opacity: 1;
            }
        }
    }

    &.is-closing {
        transform: translateY(0);
    }
}

.mapped-card__title {
    position: relative;
    background-color: $c-red;
    color: $c-white;
    padding: 3px 6px 32px;
}

.mapped-card__title-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $c-white;
    text-decoration: none;
    pointer-events: none;

    &:hover {
        text-decoration: none;
    }
}

.mapped-card__title-question {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    transition: opacity 0.2s ease-out;

    @include mq(tablet) {
        font-size: 24px;
    }

    @include mq(desktop) {
        font-size: 38px;
        line-height: 1.2;
    }
}

.mapped-card__content {
    padding: 6px;
    background-color: $c-white;
    overflow-y: scroll;
    overflow-x: hidden;

    @include mq(desktop) {
        display: flex;
    }
}

.mapped-card__copy {
    @include mq(desktop) {
        width: 620px;
        margin-right: 20px;
        padding: 3px;
    }
}

.mapped-card__questions {
    position: relative;

    @include mq(desktop) {
        min-width: 300px;
        max-width: 460px;
        flex-shrink: 2;
        padding-left: 40px;
    }
}

.mapped-card__divider {
    @include mq(desktop) {
        position: absolute;
        transform: rotate(90deg);
        transform-origin: left;
        left: 10px;
        height: 38px;
        top: -10px;
    }
}