.mapped-card {
    position: fixed;
    margin: auto;
    top: 100vh;
    left: 0;
    right: 0;
    z-index: 1404;
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    transition-delay: 0.1s;
    transform-origin: top;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
        left: 20px;
        right: 20px;
        height: calc(100vh - 100px);
    }

    @include mq(desktop) {
        width: 940px;
    }

    @include mq(wide) {
        width: 1080px;
    }

    &.is-visible {
        opacity: 1;
        transform: translateY(calc(-100vh + 70px));
        z-index: 1402;

        @include mq(tablet) {
            transform: translateY(calc(-100vh + 100px));
        }

        .mapped-card__title-image {
            opacity: 1;
        }
    }

    &.is-visible-1 {
        opacity: 1;
        transform: translateY(calc(-100vh + 45px)) scale(.95);
        z-index: 1401;

        @include mq(tablet) {
            transform: translateY(calc(-100vh + 65px)) scale(.95);
        }

        &:hover {
            transform: translateY(calc(-100vh + 42px)) scale(.95);

            @include mq(tablet) {
                transform: translateY(calc(-100vh + 62px)) scale(.95);
            }
        }

        .mapped-card__title-link {
            pointer-events: auto;
        }

        .mapped-card__title {
            background-color: #d34225;
        }
    }

    &.is-visible-2 {
        z-index: 1400;
        opacity: 0;
        transform: translateY(calc(-100vh + 32px)) scale(.9);

        .mapped-card__title {
            background-color: #af2f15;
        }
    }

    &.is-visible-1,
    &.is-visible-2 {
        transition: opacity 0.2s ease-in transform 0.3s ease-in;

        .mapped-card__title-question {
            @include mq(tablet) {
                font-size: 24px;
            }
        }
    }

    &.is-closing {
        transform: translateY(0);
    }
}

.mapped-card__title {
    position: relative;
    background-color: $c-red;
    color: $c-white;
    padding: 6px 10px 36px;
}

.mapped-card__title-image {
    position: absolute;
    right: -44px;
    max-width: 340px;
    width: 190px;
    bottom: 0;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    pointer-events: none;

    @include mq(mobileLandscape) {
        right: 0;
    }

    @include mq(tablet) {
        display: block;
        right: 20px;
        left: auto;
        width: auto;
    }
}

.mapped-card__last-updated {
    position: absolute;
    bottom: 3px;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    color: $c-black;

    @include mq(desktop) {
        font-size: 16px;
    }
}

.mapped-card__title-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $c-white;
    text-decoration: none;
    pointer-events: none;

    &:hover {
        text-decoration: none;
    }
}

.mapped-card__title-question {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    transition: opacity 0.2s ease-out, font-size 0.2s ease-out;
    padding-right: 36vw;

    @include mq(tablet) {
        font-size: 24px;
    }

    @include mq(desktop) {
        font-size: 32px;
        line-height: 1.1;
        padding-right: 360px;
    }
}

.mapped-card__content {
    position: relative;
    padding: 6px 10px;
    background-color: $c-white;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    flex-grow: 2;
    height: calc(100vh - 70px);

    @include mq(desktop) {
        height: calc(100vh - 170px);
        max-height: 920px;
    }
}

.mapped-card__body {
    @include mq(desktop) {
        width: 620px;
    }
}

.mapped-card__copy {
    padding-bottom: 12px;

    @include mq(desktop) {
        width: 620px;
        margin-right: 20px;
    }
}

.mapped-card__questions-outer {
    @include mq(desktop) {
        position: absolute;
        top: 6px;
        bottom: 6px;
        right: 10px;
        width: 280px;
    }

    @include mq(wide) {
        width: 340px;
    }
}

.mapped-card__questions {
    position: relative;
    padding-bottom: 32px;
    padding-top: 6%;
    background-image: url('@@assetPath@@/assets/images/divider.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;

    @include mq($until: desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include mq(desktop) {
        position: fixed;
        box-sizing: border-box;
        width: 280px;
        padding-top: 0;
        padding-left: 50px;
        background-position: 20px 2px;
        background-image: url('@@assetPath@@/assets/images/vertical-divider.svg');
        background-size: 16px 97%;
        height: calc(100vh - 170px);
        max-height: 920px;
        overflow: hidden;
    }

    @include mq(wide) {
        width: 340px;
    }

    .mapped-question {
        width: calc(50% - 5px);

        @include mq(mobileLandscape) {
            width: calc(50% - 10px);
        }

        @include mq(desktop) {
            width: 100%;
        }
    }

    .mapped-question:nth-of-type(4) {
        @include mq(tablet) {
            display: none;
        }
    }
}

.mapped-card__image {
    position: relative;

    img {
        width: 100%;
        transform: rotate(-2deg) scale(.9);
    }
}

.mapped-card__caption {
    color: $c-white;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.3;
    position: absolute;
    top: 11%;
    left: 7%;
    width: 50%;

    @include mq(tablet) {
        width: 33%;
    }
}

.mapped-card__chart {
    @include mq(desktop) {
        padding: 6px;
    }
}
