.mapped-connections {
    width: 100%;
    height: 320px;
}

.mapped-connections__image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin: 0 auto;
    background-color: $c-grey;
    border-radius: 50%;
    overflow: hidden;
}

.mapped-connections__name {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 1;
    fill: $c-red;
    text-align: center;
    margin-top: 4px;
}

.mapped-connections__link-copy {
    font-family: 'Guardian Text Sans Web';
    font-size: 14px;
    color: $c-black;
}
