.mapped-header {
    position: relative;
    background-image: url('@@assetPath@@/assets/images/header--mobile.jpg');
    background-position: center top;
    background-size: 120vw;
    background-repeat: no-repeat;
    min-height: 100%;

    @include mq(tablet) {
        background: $c-off-white;
    }
}

.mapped-illustration {
    display: none;
    position: absolute;
    left: -100%;
    right: -100%;
    margin: auto;

    @include mq(tablet) {
        display: block;
        width: 1200px;
        height: 400px;
    }

    @include mq(desktop) {
        width: 1470px;
        height: 570px;
    }

    @include mq(leftCol) {
        width: 1550px;
        height: 620px;
    }
}

@keyframes circlePop {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.mapped-illustration__image {
    position: absolute;
    top: 0;
    left: 0;
    animation: circlePop 0.3s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
    display: none;

    @include mq(tablet) {
        display: block;
        height: 140px;
        width: 140px;
        transform: translateX(-50%) translateY(-50%);
    }

    @include mq(desktop) {
        height: 185px;
        width: 185px;
        transform: none;
    }
}

.mapped-illustration__image--1 {
    left: 6.6%;
    top: 49.7%;
}

.mapped-illustration__image--2 {
    top: 12%;
    left: 74.5%;
    animation-delay: 0.2s;
}

.mapped-illustration__image--3 {
    left: 44.8%;
    top: -8%;
    animation-delay: 0.4s;
}

.mapped-illustration__image--4 {
    top: 63.1%;
    left: 71%;
    animation-delay: 0.6s;
}

.mapped-illustration__image--5 {
    top: 1.8%;
    left: 14.8%;
    animation-delay: 0.8s;
}

@keyframes drawRules {
    to {
        stroke-dashoffset: 0%;
    }
}

.mapped-illustration svg {
    margin-top: -50px;
    width: 102%;
    margin-left: -1%;

    .st {
        stroke: $c-black;
        stroke-dasharray: 740;
        stroke-dashoffset: 740;
        will-change: stroke;
        will-change: stroke-dashoffset;
        animation: drawRules 1s ease-in;
        animation-delay: 100s;
        animation-fill-mode: forwards;
    }

    .st0,
    .st15 {
        display: none;
    }

    .st8 {
        animation-delay: 0.4s;
    }

    .st1 {
        animation-delay: 0.7s;
    }

    .st3 {
        animation-delay: 0.9s;
    }

    .st100 {
        animation-delay: 1.2s;
    }

    .st23 {
        animation-delay: 1s;
    }

    .st21 {
        animation-delay: 1.3s;
    }

    .st14 {
        animation-delay: 1.5s;
    }

    .st9 {
        animation-delay: 1.4s;
    }

    .st4 {
        animation-delay: 1.6s;
    }

    .st13 {
        animation-delay: 1.2s;
    }
}

.mapped-header__content {
    max-width: 620px;
    padding: 33% 10px 12px;

    @include mq(mobileLandscape) {
        padding: 36% 20px 12px;
    }

    @include mq(tablet) {
        padding-top: 122px;
        padding-left: 130px;
        padding-right: 130px;
    }

    @include mq(desktop) {
        padding-top: 183px;
    }

    @include mq(leftCol) {
        padding-left: 180px;
        padding-right: 140px;
    }

    @include mq(wide) {
        padding-left: 260px;
    }

    &--second {
        padding-top: 12px;
    }
}

.mapped-header__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 28px;
    line-height: 1;
    padding-right: 88px;

    @include mq(mobileLandscape) {
        font-size: 32px;
    }

    @include mq(tablet) {
        font-size: 48px;
        padding-right: 0;
    }

    @include mq(desktop) {
        font-size: 84px;
        width: calc(100% + 140px);
    }

    span {
        color: $c-red;
        display: block;
        margin-top: 3px;
        font-size: 24px;
        margin-right: -88px;

        @include mq(tablet) {
            margin-right: 0;
            font-size: 38px;
        }

        @include mq(desktop) {
            font-size: 48px;
        }
    }
}

.mapped-header__standfirst {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 18px;
    line-height: 1.1;
    margin-top: 12px;

    @include mq(mobileLandscape) {
        padding-right: 88px;
    }

    @include mq(tablet) {
        font-size: 24px;
        line-height: 1;
    }
}

.mapped-header__divider {
    margin-left: -10px;
    display: none;

    .has-loaded & {
        display: block;
    }
}

.mapped-header__bar {
    padding: 12px 0;
    font-family: 'Guardian Text Sans Web';
    font-size: 12px;
    line-height: 1.3;
    overflow: auto;

    @include mq(tablet) {
        font-size: 16px;
    }

    .mapped-share {
        float: left;
        margin-right: 2px;
    }
}

.mapped-header__meta {
    padding-top: 1px;

    a {
        color: $c-black;
        border-bottom: 1px solid $c-black;

        &:hover {
            text-decoration: none;
            border-bottom-color: $c-red;
        }
    }
}

.mapped-header__last-updated {
    display: block;
    color: $c-red;
}

.mapped-header__drop-cap {
    font-family: 'Guardian Egyptian Web';
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    float: left;
    padding-top: 2px;
    color: $c-red;
    margin-right: 6px;
    height: 4.3em;
}

.mapped-header__drop-cap__inner {
    font-size: 5.4em;
    line-height: 0.89;
}

.mapped-header__questions {
    display: none;
    position: relative;

    .has-loaded & {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mapped-question {
        width: calc(50% - 5px);

        @include mq(mobileLandscape) {
            width: calc(50% - 10px);
        }
    }
}

.mapped-header__question-title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 18px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;

    @include mq(tablet) {
        font-size: 24px;
        line-height: 1;
    }
}

.mapped-header__expand {
    width: 100%;

    .is-collapsed &:hover {
        color: $c-red;
        cursor: pointer;

        .mapped-header__expand-button {
            background-color: $c-red;
        }
    }
}

.mapped-header__expand-button {
    z-index: 6;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-top: -2px;
    border-radius: 16px;
    background-color: $c-black;
    background-image: url('@@assetPath@@/assets/images/reveal.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;

    @include mq(tablet) {
        width: 30px;
        height: 30px;
        border-radius: 16px;
    }
}

.mapped-header__index {
    display: none;

    .mapped-header__questions,
    .mapped-header__divider {
        display: none;
    }

    .has-loaded & {
        display: block;
    }

    &.is-expanded {
        .mapped-header__divider {
            display: block;
        }

        .mapped-header__questions {
            display: flex;
        }

        .mapped-header__expand-button {
            opacity: 0;
        }
    }
}

.mapped-header__caption {
    display: none;
    margin-top: 24px;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.2;
    color: $c-dark-grey;

    .has-loaded & {
        display: block;
    }
}
