.mapped-header {
    background-image: url('@@assetPath@@/assets/images/header--mobile.jpg');
    background-position: center top;
    background-size: 120vw;
    background-color: $c-off-white;
    background-repeat: no-repeat;
    min-height: 100%;

    .has-loaded & {
        min-height: none;
    }

    @include mq(tablet) {
        background-size: 1000px;
        background-image: url('@@assetPath@@/assets/images/header.jpg');
        background-position: center -50px;
    }

    @include mq(desktop) {
        background-size: 1400px;
    }

    @include mq(leftCol) {
        background-size: auto;
    }

    @include mq(wide) {
        background-position: calc(50% - 30px) -50px;
        background-size: auto;
    }
}

.mapped-header__content {
    max-width: 620px;
    padding: 33% 10px 12px;

    @include mq(mobileLandscape) {
        padding: 36% 20px 12px;
    }

    @include mq(tablet) {
        padding-top: 100px;
        padding-left: 130px;
        padding-right: 130px;
    }

    @include mq(desktop) {
        padding-top: 183px;
    }

    @include mq(leftCol) {
        padding-left: 180px;
        padding-right: 140px;
    }

    @include mq(wide) {
        padding-left: 260px;
    }
}

.mapped-header__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 48px;
    line-height: 1;

    @include mq(tablet) {
        font-size: 48px;
    }

    @include mq(desktop) {
        font-size: 84px;
        width: calc(100% + 140px);
    }

    span {
        color: $c-red;
        display: block;

        @include mq($until: tablet) {
            font-size: 24px;
        }
    }
}

.mapped-header__standfirst {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 1.1;
    margin-top: 12px;

    @include mq(tablet) {
        font-size: 24px;
        line-height: 1;
    }
}

.mapped-header__divider {
    margin-left: -10px;
}

.mapped-header__bar {
    padding: 12px 0;
    font-family: 'Guardian Text Sans Web';
    font-size: 12px;
    line-height: 1.3;
    overflow: auto;

    @include mq(tablet) {
        font-size: 16px;
    }

    .mapped-share {
        float: left;
        margin-right: 4px;
    }
}

.mapped-header__meta {
    padding-top: 1px;

    a {
        color: $c-black;
        border-bottom: 1px solid $c-black;

        &:hover {
            text-decoration: none;
            border-bottom-color: $c-red;
        }
    }
}

.mapped-header__last-updated {
    display: block;
    color: $c-red;
}

.mapped-header__drop-cap {
    font-family: 'Guardian Egyptian Web';
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    float: left;
    padding-top: 2px;
    color: $c-red;
    margin-right: 6px;
    height: 4.3em;
}

.mapped-header__drop-cap__inner {
    font-size: 5.4em;
    line-height: 0.89;
}