.mapped-header {
    background-image: url('@@assetPath@@/assets/images/header.jpg');
    background-position: top center;
    background-size: 120vw;
    background-color: $c-off-white;
    background-repeat: no-repeat;

    @include mq(wide) {
        background-size: auto;
    }
}

.mapped-header__content {
    max-width: 620px;

    @include mq(leftCol) {
        padding-top: 240px;
        padding-left: 180px;
    }

    @include mq(wide) {
        padding-left: 260px;
    }
}

.mapped-header__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 24px;
    line-height: 1;

    @include mq(tablet) {
        font-size: 48px;
    }

    @include mq(desktop) {
        font-size: 84px;
        width: calc(100% + 140px);
    }

    span {
        color: $c-red;
        display: block;
    }
}

.mapped-header__standfirst {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 1;
    margin-top: 12px;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.mapped-header__bar {
    padding: 12px 0;
    font-family: 'Guardian Text Sans Web';
    font-size: 16px;
    line-height: 1.3;
    overflow: auto;

    .mapped-share {
        float: left;
        margin-right: 4px;
    }
}

.mapped-header__meta {
    padding-top: 1px;
}

.mapped-header__last-updated {
    display: block;
}
