.mapped-nav {
    background-color: $c-off-white;
    display: none;

    .has-loaded & {
        display: block;
    }

    .gs-container {
        overflow-x: scroll;
        backface-visibility: hidden;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .is-fixed & {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
    }
}

.mapped-nav__inner {
    position: relative; // for jQuery to get offset of each entry
    padding: 6px 10px;
    width: min-content;

    @include mq(mobileLandscape) {
        padding: 10px 20px;
    }
}

.mapped-nav__entry {
    display: table-cell;
    padding-right: 9px;
    border-right: 1px $c-grey solid;
    padding-left: 10px;
    height: 50px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 20px;
    line-height: 1.1;
    color: $c-black;
    transition: 0.3s ease-out color;

    @include mq(tablet) {
        font-size: 24px;
    }

    @include mq(leftCol) {
        min-width: 160px;
    }

    @include mq(wide) {
        min-width: 220px;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    @at-root div#{&} {
        padding-left: 0;
    }

    span {
        display: block;
        color: $c-red;
    }

    &.is-current {
        color: $c-red;
    }
}