.mapped-nav {
    background-color: darken($c-off-white, 5%);
    display: none;

    .has-loaded & {
        display: block;
    }

    .gs-container {
        overflow: auto;
    }

    .mapped-nav__scroll {
        overflow-x: scroll;
        backface-visibility: hidden;
        -webkit-overflow-scrolling: touch;
        margin: 6px 64px;
        border-left: 1px solid $c-grey;
        border-right: 1px solid $c-grey;

        @include mq(mobileLandscape) {
            margin: 10px 64px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .is-fixed & {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
    }
}

.mapped-nav__inner {
    position: relative; // for jQuery to get offset of each entry
    width: min-content;
}

.mapped-nav__nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}

.mapped-nav__button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: $c-red;
    background-image: url('@@assetPath@@/assets/images/arrow-right.svg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out background-color;
    pointer-events: auto;

    &:hover {
        background-color: $c-black;
    }
}

.mapped-nav__button--left {
    transform: rotate(180deg);
    left: 10px;

    @include mq(mobileLandscape) {
        left: 20px;
    }
}

.mapped-nav__button--right {
    right: 10px;

    @include mq(mobileLandscape) {
        right: 20px;
    }
}

.mapped-nav__entry {
    display: table-cell;
    padding-right: 9px;
    border-right: 1px $c-grey solid;
    padding-left: 10px;
    height: 50px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 20px;
    line-height: 1.1;
    color: $c-red;
    transition: 0.3s ease-out color;

    @include mq(tablet) {
        font-size: 24px;
    }

    @include mq(leftCol) {
        min-width: 160px;
    }

    @include mq(wide) {
        min-width: 220px;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:hover {
        color: $c-black;
    }

    &.is-current {
        color: $c-black;
    }
}