.mapped-section {
    position: relative;
    padding: 6px 10px;
    max-width: 620px;

    @include mq(mobileLandscape) {
        padding: 6px 20px;
    }

    @include mq(tablet) {
        padding-left: 130px;
        padding-right: 130px;
    }

    @include mq(leftCol) {
        padding-left: 180px;
        padding-right: 140px;
    }

    @include mq(wide) {
        padding-left: 260px;
    }
}

.mapped-section__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 20px;
    line-height: 1.2;
    color: $c-red;

    @include mq(tablet) {
        font-size: 32px;
    }
}

.mapped-section__divider {
    opacity: .25;

    @include mq(tablet) {
        margin-bottom: -15px;
    }

    @include mq(leftCol) {
        margin-top: 36px;
    }
}
