.mapped-timeline__event {
    position: relative;
    padding: 2px 0 24px 80px;

    @include mq(tablet) {
        padding-left: 140px;
    }

    &.has-image {
        @include mq(tablet) {
            min-height: 140px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 17px;
        bottom: -20px;
        width: 24px;
        background-image: url('@@assetPath@@/assets/images/vertical-divider.svg');
        background-size: 100% 300%;
        background-position: center;
        background-repeat: no-repeat;

        @include mq(tablet) {
            left: 52px;
        }
    }

    &:last-of-type:after {
        display: none;
    }
}

.mapped-timeline__event-point {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 16px;
    width: 24px;
    height: 24px;
    background-color: $c-red;
    border-radius: 12px;
    overflow: hidden;

    @include mq(tablet) {
        left: 52px;
        top: 6px;
    }
}

.mapped-timeline__image-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: $c-red;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    overflow: hidden;

    @include mq(tablet) {
        width: 128px;
        height: 128px;
        border-radius: 64px;
    }
}

.mapped-timeline__image {
    width: 100%;
    height: auto;
}

h2.mapped-timeline__title {
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 1.3;
    color: $c-red;
    margin-top: 4px;

    @include mq(tablet) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.mapped-timeline__date {
    display: block;
    color: $c-black;
}

.mapped-timeline__copy {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.4;
    color: $c-black;
    margin: 4px 0 12px;
}

.mapped-timeline__related {
    font-family: 'Guardian Egyptian Web';
    color: $c-black;
    font-weight: bold;
    margin-bottom: 24px;
}
